.MyBtn{
   padding: 10px 15px;
   background-color: teal;
   color: white;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}
.MyBtn:hover{
    background-color: slategrey;
    color: black;
}